__pycache__/
*.py[cod]
*.egg-info/

.vscode/
.idea/
.DS_Store

wandb/
logs/
*.log

datasets/
trajdata_cache/
**/exports/
**/cache/

models/
*.pt
*.npz
*.tar.gz
*.pth
*.ckpt
*.png
*.jpg

.ipynb_checkpoints/

build/
dist/
plots/
test_logs/
test_plots/
test_sweep/
traj_cache_nusc_trainval/

run_train.sbatch
TODO